h1, h2, h3, h4, h5, h6{
	font-weight: bolder;
}

#content-box{
	margin: 2em;
	padding: 2em;
	background-color: #DDD;
}

body{
	background-color: #EEE;
}

#controls{
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-primary{
	background-color: #402b26;
}

#img-position{
	width:200px;
	text-align: center;
	font-weight: bold;
}